html {
  font-family: sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  font-family: serif;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #6e6e6e;
  margin: 0;
}
h3,h4 {
  font-family: sans-serif;
color: #111111;
}

div {
  display: block;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
}

.row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}


#splash-intro {
  background: url(/images/pexels-felixmittermeier-956999.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 720px;
  display: table;
  position: relative;
  text-align: center;
  font-size: 3em;
}

#splash-intro::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}


.btn {
  	color: #FFFFFF !important;
  	border: 2px solid #313131;
  	border-color: rgba(255, 255, 255, 0.3);
  	padding: 0 2.0rem 0 2rem !important;
  	text-align: center;
	text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
   	background: transparent !important;
	border-radius:3px;

}

.btn {
 
  	background-color:#555555;
  	color:white;
}

.button5 {
  	background-color: black;
  	color: white;
  	border: 2px solid #555555;
}

.button5:hover {
  background-color: white;
  color: #555555;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-youtube {
  color: white;
}
.fa-instagram {
  color: white;
}
.fa-snapchat-ghost {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
}

.intro-content h1 {
	color: #FFFFFF;
	font-family: sans-serif;
  font:bold;
	font-size: 8.4rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.intro-content h5 {
	color: #cc005f;
	font-family:sans-serif;
	font-size: 1.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.center-down {
  position: absolute;
  top: 95%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.intro-content .intro-position {
	font-family: serif;
	font-size: .9rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-content .intro-position span {
	display: inline-block;
}

.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}

.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}



.col {
  width: 100%;
}
#about {
	background: #FFFFFF;
	padding-top: 1rem;
	padding-bottom: 10rem;
}

#about .section-intro {
  max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 3.6rem;
	position: relative;
}

.section-intro h5 {
  font-family: sans-serif;
  color: #FF0077;
	font-size: 1.6rem;
  text-align: center;
  letter-spacing: .4rem;
}

.section-intro h1 {
  font-family: sans-serif;
  font-size: 2.6rem;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.intro-info {
	margin-top: 4.2rem;
	margin-right: -30px;
	margin-left: -30px;
}

.intro-info img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin: .9rem 0 0 0;
  float:left;
}

.intro-info .lead {
	text-align: left;
	padding-left: 13rem;
}

.about-content {
  display: flex;
  position: relative;
  text-align: left;
  max-width: 950px;
  margin-bottom: 1.6rem;
}

.about-content h3 {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: .25rem;
}


.col-six p {
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: left;
  ;line-height: 1.4;
}

.about-content .info-list {
	list-style: none;
	margin-left: 0;
}
.about-content .info-list li {
	padding: 0 0 0rem 0;
	margin-bottom: .6rem;
}
.about-content .info-list li strong {
	font-family: sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.0rem;

}
.about-content .info-list li span {
	display: block;
	font-family: sans-serif;
	color: #888888;
	font-size: 1.0rem;
	line-height: 0.2rem;
}

.skill-bars {
	list-style: none;
	margin: 6rem 0 3rem;
  font-size: 1.0rem;
  

}
.skill-bars li {
	height: 0.6rem;
	background: #a1a1a1;
	width: 100%;
	margin-bottom: 3rem;
	padding: 0 0 0rem 0;
	position: relative;
  font-size: 1.0rem;
  

}
.skill-bars li strong {
	position: absolute;
	left: 0;
	top: -2rem;
	font-family: sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.0rem;
  

}
.skill-bars li .progress {
	background: #313131;
	position: relative;
	height: 100%;
  font-size: 1.0rem;
  

}


.skill-bars li .percent5   { width: 5%; }
.skill-bars li .percent10  { width: 10%; }
.skill-bars li .percent15  { width: 15%; }
.skill-bars li .percent20  { width: 20%; }
.skill-bars li .percent25  { width: 25%; }
.skill-bars li .percent30  { width: 30%; }
.skill-bars li .percent35  { width: 35%; }
.skill-bars li .percent40  { width: 40%; }
.skill-bars li .percent45  { width: 45%; }
.skill-bars li .percent50  { width: 50%; }
.skill-bars li .percent55  { width: 55%; }
.skill-bars li .percent60  { width: 60%; }
.skill-bars li .percent65  { width: 65%; }
.skill-bars li .percent70  { width: 70%; }
.skill-bars li .percent75  { width: 75%; }
.skill-bars li .percent80  { width: 80%; }
.skill-bars li .percent85  { width: 85%; }
.skill-bars li .percent90  { width: 90%; }
.skill-bars li .percent95  { width: 95%; }
.skill-bars li .percent100 { width: 100%; }

.grey-section {
  background-color:#ebebeb;
}

.grey-section p.lead {
  color: #7d7d7d;
}

.col-twelve {
	width: 100%;
}

.col-twelve h5 {
	width: 100%;
  font-family: sans-serif;
  
}

.col-four {
	width: 100%;
}

#resume {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#resume .section-intro {
  max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 3.6rem;
	position: relative;
}


#resume .resume-header h2{
  font-family: sans-serif;
  margin-top: 10rem;
  
  color: #FF0077;
	text-align: center;
}


#resume .resume-timeline {
	max-width: 980px;
}
#resume .timeline-wrap {
	position: relative;
	margin-top: 1.3rem;
	margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 38%;
	top: 0;
}
#resume .timeline-block {
  width: 95%;
	position: relative;
	padding-top: .7rem;
}
#resume .timeline-ico {
	height: 4.8rem;
	width: 4.8rem;
	line-height: 4.8rem;
	background: #313131;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 40%;
  top: 2rem;
	margin-left: -2.5rem;
}
#resume .timeline-ico i {
	position: relative;
	left: -0.1rem;
	top: .1rem;
}

#resume .timeline-header {
	float: left;
	width: 35%;
	padding-right: 90px;
	text-align: right;
}
#resume .timeline-header h3 {
  font-size: 1.8rem;
	margin-bottom: 0;
}
#resume .timeline-header p {
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #888888;
}
#resume .timeline-content {
	margin-left: 35%;
	padding-left: 90px;
}
#resume .timeline-content h4 {
	position: relative;
	padding-bottom: 1.5rem;
}

#resume .timeline-content p {
  font-family: sans-serif;
  font-size: 1.3rem;

}

#resume .timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0;
	bottom: 0;
}

#portfolio .section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 3.6rem;
  position: relative;
}

.grid-row {
  margin: 20rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 10rem;
  margin-right: 10rem; /* IE10 */
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 75%;
}



.column img {
  vertical-align: middle;
  width: 100%;
}

#contact {
  background: #151515;
  padding-top: 5rem;

}

#contact .section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 3.6rem;
  position: relative;
}

#contact .section-intro h1 {
	color: white;
}
#contact .section-intro h5 {
	color: #FF0077;
}
#contact .section-intro p {
	color: rgba(255, 255, 255, 0.7);
}

/* contact form */
.contact-form {
	max-width: 740px;
}

.contact-form ::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}
.contact-form :-moz-placeholder {
	color: rgba(255, 255, 255, 0.3);  /* Firefox 18- */
}
.contact-form ::-moz-placeholder {
	color: rgba(255, 255, 255, 0.3);  /* Firefox 19+ */
}
.contact-form :-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}
.contact-form .placeholder {
	color: rgba(255, 255, 255, 0.3) !important;
}

#contact form {
	margin-top: 0;
	margin-bottom: 3rem;
}
#contact form .form-field {
	position: relative;
}
#contact form .form-field:before, #contact form .form-field:after {
	content: "";
	display: table;
}
#contact form .form-field:after {
	clear: both;
}
#contact form .form-field label {
	font-family: sans-serif;
	font-size: 1.1rem;
	line-height: 2.4rem;
	position: absolute;
	bottom: -1.2rem;
	right: .6rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	padding: 0 2rem;
	margin: 0;
	color: #FFFFFF;
	background: #FF0077;
}
#contact form .form-field label::after {
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -6px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #FF0077;
	content: "";
}

fieldset {
	border: none;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	display: block;
	height: 6rem;
	padding: 1.5rem 0;
	border: 0;
	outline: none;
	color: #313131;
	font-family: "poppins-regular", sans-serif;
	font-size: 1.5rem;
	line-height: 3rem;
	max-width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  
}


#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea {
	width: 100%;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"] {
	height: 6.6rem;
	padding: 1rem 2rem;
}
#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact input[type="email"]:focus {
	border-color: #FF0077;
	color: #FFFFFF;
}
#contact textarea {
	min-height: 5rem;
	padding: 1.8rem 2rem;
}
#contact textarea:focus {
	border-color: #FF0077;
	color: #FFFFFF;
}
#contact button.submitform {
  font-family: sans-serif;
	font-size: 1.5rem;
	display: block;
	letter-spacing: .2rem;
	height: 3.6rem;
	line-height: 3.8rem;
	padding: 0 2rem;
	margin-top: 4.8rem;
	width: 100%;
	background: #FF0077;
	color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}
#contact button.submitform:hover, #contact button.submitform:focus {
	background: #cc005f;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.intro-content>div {
	text-align: center;
	margin: 5px;
}

@media (min-width:576px) {
	.contact-info {
		flex-flow: row wrap;
	}

	.contact-info>.left {
		order: 1;
		flex: 0.5;
	}

	.contact-info>.right {
		order: 2;
		flex: 0.5;
	}
	.contact-info>.c {
		order: 3;
		width: 100%;
	}
}

@media (min-width:768px) {
	.contact-info {
		flex-flow: row nowrap;
	}

	.contact-info>div {
		width: 33.33% !important;
	}

	.contact-info>.left {
		order:1;
	}

	.contact-info>.c {
		order:2;
	}
	
	.contact-info>.right {
		order:3;
	}
}





.services-list .icon {
	display: inline-block;
	margin-bottom: 2.1rem;
}

.contact-info .icon i {
  display: inline-block;
  margin-bottom: 2rem;
	font-size: 1.2rem;
	color: #f4f2f2;
}

.contact-info h5 {
	color: #FF0077;
  font-family: sans-serif;
  text-transform: uppercase;
}

footer {
	background: #151515;
	padding: 5px;
	font-size: 1.4rem;
	font-family: sans-serif;
}
footer a, footer a:visited {
	color: #FFFFFF;
}
footer a:hover, footer a:focus {
	color: #FF0077;
}
footer .row {
	max-width: 700px;
}
footer .social {
	text-align: right;
}
footer .footer-social {
	display: inline-block;
	font-size: 2.1rem;
	margin: 0;
	padding: 0;
	position: relative;
	top: -.3rem;
}
footer .footer-social li {
	display: inline-block;
	margin: 0 12px;
	padding: 0;
}
footer .footer-social li a {
	color: #FFFFFF;
}
footer .copyright span {
	display: inline-block;
}
footer .copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 1rem 0 1.2rem;
	color: rgba(255, 255, 255, 0.1);
}
footer .copyright span:last-child::after {
	display: none;
}

/**
 * responsive:
 * footer
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:768px) {
	footer {
		background: black;
		text-align: center;
	}
	footer .social {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	footer .copyright span {
		display: block;
	}
	footer .copyright span::after {
		display: none;
	}
}

#go-top {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 600;
	display: none;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	height: 6.6rem;
	width: 6rem;
	line-height: 6.6rem;
	text-align: center;
	background: #cc005f;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#go-top a i {
	font-size: 1.6rem;
	line-height: inherit;
}
#go-top a:hover {
	background: #000000;
}


@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}
}

@media only screen and (max-width:768px) {
	p.lead {
		font-size: 1.7rem;
	}
}

@media only screen and (max-width:768px) {
	.section-intro {
		max-width: 650px;
	}
	.section-intro h1 {
		font-size: 3rem;
	}
}
@media only screen and (max-width:600px) {
	.section-intro h1 {
		font-size: 2.6rem;
	}
	.section-intro h5 {
		font-size: 1.5rem;
		letter-spacing: .3rem;
	}
}
@media only screen and (max-width:400px) {
	.section-intro h1 {
		font-size: 2.4rem;
	}
}



@media screen and (max-width:768px) {
	.row .grid-row {
		width: 100%;
		margin-left: -18px;
		margin-right: -18px;
		

	}



	.tab-full {
		width: 100%;
	}

	.col-twelve {
		width: 100%;
	}







}


