body {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
  }
  
  h2 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    height: auto;
  }
  
  li {
    font-family: verdana;
  }
  
  
  img {
    border-radius: 10px;
  }
  
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  .btn {
    background-color: #3E8E41;
    border: none;
    color:black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.1s;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .btn:hover {
    background-color: #3E8E41;
    color:lawngreen;
    opacity: 2;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
  }
  

  

  /* Create two equal columns that floats next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
    background-color:#bbb;
  }
  
  
.row {
   
    display: flex;
    padding: auto;
    

    
}

@media (max-width: 800px) {
  .column {
    width: 100%;
    
  }
}

@media screen and (max-width: 800px) {
  .column {
      flex-direction: column;
  }
}


* {
  box-sizing: border-box;
  margin: auto;
}
